<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
          </div>
          <form>
            <div class="form-group">
                <textarea class="form-control" placeholder="Insert Content Here..." id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
          </form>
    <button type='button' class="btn btn-secondary btn-lg container">+</button>
    </div>
</body>
</html>