<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/signInPAge.css">
    <title>Document</title>
</head>
<body>
   <div class="outerMainDiv container">
        <div class="innerMainDiv container">
            <h2 class="signInHeader">Sign In</h2>
         
            <div class="emailDiv">
                <label for="email" class="emailLab">
                  Email address
                </label>
              
                  <input id="email" name="email" type="email" autocomplete="email" class="form-control">
            
              </div>
              <div class="passwordDiv">
                <label for="password" class="">
                  Password
                </label>
                
                  <input id="password" name="password" type="password" autocomplete="password" class="form-control">
                
              </div>  

Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores accusamus quisquam aperiam temporibus? Accusantium, soluta ducimus distinctio quasi veniam earum ipsum? Voluptatem voluptates, consectetur quo libero magnam ducimus animi temporibus!


        </div>


   </div> 

    
</body>
</html>